.chat-screen {
    background-color: white;
    height: 1000vh;
    width: auto;
    background-size: cover;

}

.chat-screen .alt-header,
.chat-screen .status-bar {
    top: 0px;
    position: fixed;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
}

.chat-screen .status-bar {
    z-index: 2;
}

.chat-screen .alt-header {
    z-index: 1;
}

.fa-bars {
    margin-left: 20px;
    padding-right: 8px;

}

.main-chat {
    margin-top: 140px;
    display: flex;
    flex-direction: column; /* flex-direction이 column일 때 cross axis(교차축)은  수평이 된다.*/
    align-items: center;
}

.chat__timestamp {
    color: white;
    background-color:#cdd6db;
    padding: 15px;
    border-radius: 25px;
    font-size: 14px;
    margin-bottom: 25px;
}

.message-row {
    width: 100%;
    display: flex;
}

.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.message__author {
    margin-bottom: 8px;
    display: block; /* span이기 때문에 */
}

.message__bubble {
    background-color: black;
    padding: 13px;
    color: white;
    border-radius: 15px;
    margin-right: 5px;
}

.message__info {
    display: flex;
    align-items: flex-end; /* bubble과 time에 적용시켜 시간 떨어 뜨리기 */

}

.message__time,
.message__author  {
    opacity: 0.8;
    font-size: 13px;
}