#friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
#friends-display-link i {
    color: rgba(0, 0, 0, 0.3);
  }

.fa-chevron-right {
    margin-left: 5px;
  }

.icons__background {
    display: flex;
}

.icons__background:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    width: 40px;
    height: 40px;
    align-items: center;

}

.friends-screen {
    padding: 0px var(--horizontal-space);
}

