#friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: -15px;
  }
  
#friends-display-link i {
    color: var(--main-border-color);
  }

.fa-chevron-right {
    margin-left: 5px;
  }

.icons__background {
    display: flex;
}

.icons__background:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    width: 40px;
    height: 40px;
    align-items: center;

}

.friends-screen {
    padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top: 15px;

}

.friends-screen__channel-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSPlashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden; /* element를 무시하게만 만듦. 실제 브라우저 상에는 남아 있다. 온전히 없애려면 js를 써야 한다. */
    }
}

.splash-screen {
    background: linear-gradient( crimson 50%, white 50%);
    position: absolute;
    height: 100vh;
    width: 100vw; 
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    animation: hideSPlashScreen 1s ease-in-out forwards; /* forwards : 마지막 속성값 유지 */
    
}

#splash-screen__text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

