.nav {
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top: 1px solid rgba(121, 121, 121, 0.3);
    position: fixed;
    bottom: 0;
    box-sizing: border-box; /* width가 지정된 상태에서 padding을 주면 width를 유지하려 하는 특성상 100%는 유지한 상태로 padding이 들어간다. 그래서 결국 늘어나게 되어 box-sizing : border-box를 사용한 것.*/
    width: 100%;
}

.nav__list {
    display: flex;
    justify-content: space-around;
}

.nav__link {
    color: #2e363e;
    position: relative;
}

.status-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

@keyframes notificationAnimation {
    0% {
        transform: none;

    }
    50% {
        transform: translateY(-5px) rotateY(360deg);
    }
    100% {
        transform: none;
    }
}

.nav__notification {
    position: absolute; /* postiotion : relative 의 부모 기준으로 움직임 */
    left: 15px;
    bottom: 15px;
    animation: notificationAnimation 3s ease-in-out infinite;
}

.nav__ellipsis-h {
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    position: absolute; /* postiotion : relative 의 부모 기준으로 움직임 */
    left: 28px;
    bottom: 28px;
}

@keyframes appearBtnAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: none;

    }
}

.nav__btn {
    transform: translateY(50px); /* 나머지 자식들이 같은 위치에서 시작하게 하기 위해 애니메이션이 아닌 여기에 넣어준다. */
    opacity: 0;
    animation: appearBtnAnimation 0.2s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
    animation-delay: 0.2s;
}
.nav__btn:nth-child(3){
    animation-delay: 0.4s;

}
.nav__btn:last-child {
    animation-delay: 0.6s;

}