#no-pc {
    position: absolute;
    z-index: 99;
    height: 100vh;
    background-color: crimson;
    width: 100vw;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    font-size: 32px;

}

@media screen and (max-width:650px) {
    #no-pc {
        display: none;  /* min-width일 때, 즉 이 값보다 클 때의 경우 flex로도 적용 가능 */
    }
}

/* 가로 모드 불가도 추가해 보기 */