.screen-header {
    display: flex;
    justify-content: space-between;
    padding: 60px 20px 25px 25px;
    align-items: center;
    margin-bottom: 15px;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons {
    height: 50px;
    align-items: center;
    display: flex;

}

.screen-header__icons span {
    margin-left: 25px;
}

.screen-header__icons__img {
    align-items: center;
    display: flex;
    justify-content: center;
}

.icons__background {
    display: flex;
    justify-content: center;
}

@keyframes rotateCog {
    from{
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }
}

.screen-header__icons .fa-cog:hover {
    animation: rotateCog 1.5s linear infinite;
}